/* line 4, ../scss/APP.scss */
body {
  font-size: 10px;
}

/* line 8, ../scss/APP.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #0089af;
  text-align: center;
  text-transform: uppercase;
}

/* line 16, ../scss/APP.scss */
h1 {
  font-size: 2.3em;
}

/* line 20, ../scss/APP.scss */
ul {
  padding: 0;
}
/* line 22, ../scss/APP.scss */
ul li {
  display: block;
}

/* line 28, ../scss/APP.scss */
form ol, form ul {
  padding: 0;
}
/* line 31, ../scss/APP.scss */
form ol li, form ol li label, form ul li, form ul li label {
  display: block;
}

/* line 50, ../scss/APP.scss */
.marca {
  background-image: url("../imagens/marca.png");
  width: 500px;
  height: 423px;
  margin: 0 auto;
  -webkit-background-size: 100%, auto;
  -moz-background-size: 100%, auto;
  -o-background-size: 100%, auto;
  background-size: 100%, auto;
}

/* line 57, ../scss/APP.scss */
.marca.grande {
  width: 400px;
  height: 338px;
}

/* line 61, ../scss/APP.scss */
.marca.pequena {
  width: 250px;
  height: 212px;
  margin-top: 80px;
}

/* line 67, ../scss/APP.scss */
.semTexto {
  overflow: hidden;
  text-indent: -9999px;
}

/* line 73, ../scss/APP.scss */
#scroller {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #d6eaf7;
  background: -moz-radial-gradient(center, ellipse cover, #d6eaf7 23%, #91cce6 96%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(23%, #d6eaf7), color-stop(96%, #91cce6));
  background: -webkit-radial-gradient(center, ellipse cover, #d6eaf7 23%, #91cce6 96%);
  background: -o-radial-gradient(center, ellipse cover, #d6eaf7 23%, #91cce6 96%);
  background: -ms-radial-gradient(center, ellipse cover, #d6eaf7 23%, #91cce6 96%);
  background: radial-gradient(ellipse at center, #d6eaf7 23%, #91cce6 96%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6eaf7', endColorstr='#91cce6',GradientType=1 );
}

/* line 3, ../scss/APP.Icones.scss */
.icone.sentimento {
  width: 100px;
  height: 100px;
  background-repeat: repeat;
  background-position: top left;
  -webkit-background-size: 100%;
  background-size: 100%;
}
/* line 11, ../scss/APP.Icones.scss */
.icone.sentimento[data-nivel='muitoBem'] {
  background-image: url("../imagens/icones/sentimento_muitoBem.png");
}
/* line 14, ../scss/APP.Icones.scss */
.icone.sentimento[data-nivel='bem'] {
  background-image: url("../imagens/icones/sentimento_bem.png");
}
/* line 17, ../scss/APP.Icones.scss */
.icone.sentimento[data-nivel='normal'] {
  background-image: url("../imagens/icones/sentimento_normal.png");
}
/* line 20, ../scss/APP.Icones.scss */
.icone.sentimento[data-nivel='mal'] {
  background-image: url("../imagens/icones/sentimento_mal.png");
}
/* line 23, ../scss/APP.Icones.scss */
.icone.sentimento[data-nivel='muitoMal'] {
  background-image: url("../imagens/icones/sentimento_muitoMal.png");
}

/* line 1, ../scss/APP.Barra.scss */
.barra {
  display: block !important;
}
/* line 4, ../scss/APP.Barra.scss */
.fullscreen .barra {
  display: none !important;
}

/* line 1, ../scss/APP.Barra.Titulo.scss */
#barraDeTitulo {
  background-color: black;
  color: white;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  display: none;
}
/* line 13, ../scss/APP.Barra.Titulo.scss */
.barraDeTitulo#app #barraDeTitulo {
  top: 0;
}
/* line 17, ../scss/APP.Barra.Titulo.scss */
#barraDeTitulo h1 {
  font-size: 1em;
}
/* line 20, ../scss/APP.Barra.Titulo.scss */
#barraDeTitulo .voltar {
  position: absolute;
  left: 1em;
  top: 50%;
  margin-top: -11px;
}

/* line 1, ../scss/APP.Barra.Menu.scss */
#barraDeMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  height: 50px;
  width: 100%;
  z-index: 2;
  display: none;
  overflow: visible;
}
/* line 13, ../scss/APP.Barra.Menu.scss */
.barraDeMenu#app #barraDeMenu {
  bottom: 0px;
}
/* line 17, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul {
  padding: 0;
}
/* line 20, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul li {
  display: block;
  position: absolute;
  top: 0;
  width: 20%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  z-index: 2;
}
/* line 31, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul li:nth-child(1) {
  left: 0;
}
/* line 34, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul li:nth-child(2) {
  left: 20%;
}
/* line 37, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul li:nth-child(3) {
  left: 40%;
}
/* line 40, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul li:nth-child(4) {
  left: 60%;
}
/* line 43, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul li:nth-child(5) {
  left: 80%;
  background-color: black;
}
/* line 48, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul li a {
  display: block;
  height: 50px;
  border-right: 1px solid black;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 58, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul ul {
  display: none;
  width: 200px;
  height: auto;
  position: absolute;
  bottom: 50px;
  right: 0;
  background-color: inherit;
}
/* line 68, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul ul li {
  display: block;
  width: auto;
  height: auto;
  line-height: 1em;
  position: static;
  border-top: 1px solid white;
  line-height: 50px;
}
/* line 77, ../scss/APP.Barra.Menu.scss */
#barraDeMenu ul ul li a {
  width: auto;
  height: auto;
  display: block;
  border: none;
  font-weight: normal;
}

/* line 1, ../scss/APP.Area.scss */
.area {
  padding: 50px 0;
}
/* line 5, ../scss/APP.Area.scss */
.fullscreen .area {
  padding: 0;
}

/* line 9, ../scss/APP.Area.scss */
.area, .tela {
  display: none;
}
/* line 12, ../scss/APP.Area.scss */
.area.ativa, .tela.ativa {
  display: block;
}

/* line 7, ../scss/APP.Area.Apresentacao.scss */
#tela_abertura .marca.grande {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -169px;
}
/* line 14, ../scss/APP.Area.Apresentacao.scss */
#tela_abertura footer li {
  position: absolute;
  width: 33%;
  bottom: 2em;
  height: 100px;
  -webkit-background-size: 80%, auto;
  -moz-background-size: 80%, auto;
  -o-background-size: 80%, auto;
  background-size: 80%, auto;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 23, ../scss/APP.Area.Apresentacao.scss */
#tela_abertura footer li.sus {
  left: 0;
  background-image: url("../imagens/apresentacao/abertura/sus.png");
}
/* line 27, ../scss/APP.Area.Apresentacao.scss */
#tela_abertura footer li.skoll {
  left: 33%;
  background-image: url("../imagens/apresentacao/abertura/skoll.png");
}
/* line 32, ../scss/APP.Area.Apresentacao.scss */
#tela_abertura footer li.tephinet {
  left: 66%;
  background-image: url("../imagens/apresentacao/abertura/tephinet.png");
}

/* line 47, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma h1 {
  margin-top: 1em;
  position: absolute;
  top: 50%;
  margin-top: -192px;
  width: 100%;
  left: 0;
  font-size: 3.3em;
  text-align: center;
}
/* line 62, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma ul li {
  display: block;
  background-color: #efefef;
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 1em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
}
/* line 80, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma ul li a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 80px;
  background-image: url("../imagens/apresentacao/idioma/bandeiras.png");
  -webkit-background-size: 100%, auto;
  -moz-background-size: 100%, auto;
  -o-background-size: 100%, auto;
  background-size: 100%, auto;
}
/* line 92, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma ul li.pt {
  margin-top: -152px;
}
/* line 95, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma ul li.pt a {
  background-position: 0px  0;
}
/* line 99, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma ul li.es {
  margin-top: -40px;
}
/* line 102, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma ul li.es a {
  background-position: 0px center;
}
/* line 106, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma ul li.en {
  margin-top: 72px;
}
/* line 109, ../scss/APP.Area.Apresentacao.scss */
#tela_idioma ul li.en a {
  background-position: 0px bottom;
}

/* line 8, ../scss/APP.Area.Sentimento.scss */
#tela_sintomas ol {
  padding: 0;
}
/* line 10, ../scss/APP.Area.Sentimento.scss */
#tela_sintomas ol li {
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #000;
}
/* line 14, ../scss/APP.Area.Sentimento.scss */
#tela_sintomas ol li li:last-child {
  border-bottom: none;
}
/* line 18, ../scss/APP.Area.Sentimento.scss */
#tela_sintomas ol li.selecionado {
  background-color: #efefef;
}
/* line 22, ../scss/APP.Area.Sentimento.scss */
#tela_sintomas ol li input {
  display: none;
}

/* line 30, ../scss/APP.Area.Sentimento.scss */
#sentimento .dado {
  display: none;
}

/* line 35, ../scss/APP.Area.Sentimento.scss */
#calendario {
  display: none;
}
